body {
  max-width: 1600px;
  margin-top: auto;
  padding: 1em;
  line-height: 30px ;
  font-size: 200%;
  text-align: justify;
  text-justify: inter-word;
}   

p {
  margin-top: 25px;
  margin-bottom:25px;
}

.r{
  font-size: 18px;
}